<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycoaching.mycoaching">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.Activities.Common.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activities.Common.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.Common.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.UserActivity.UserMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".Views.Activities.CoachActivity.CoachMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".Views.Activities.Common.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />

        <service
            android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

    </application>
</manifest>